flows.json
[{"id":"e1c06fb6.b3163","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"edf9762.d27d288","type":"ui_form","z":"e1c06fb6.b3163","name":"","label":"","group":"78ed009c.eb609","order":0,"width":"24","height":"16","options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["83003896.b85a48"]]},{"id":"83003896.b85a48","type":"function","z":"e1c06fb6.b3163","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":240,"wires":[["159ea331.6cf56d","25ac1cb5.e5bc04"]]},{"id":"159ea331.6cf56d","type":"watson-conversation-v1","z":"e1c06fb6.b3163","name":"","workspaceid":"e94629a0-4790-40e4-b280-3b859e035a10","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/581e5911-95ab-427e-a23c-6c9453c34798","timeout":"","optout-learning":false,"x":420,"y":360,"wires":[["fe92da11.13a318","e38518ea.540ae8"]]},{"id":"e38518ea.540ae8","type":"function","z":"e1c06fb6.b3163","name":"","func":"//    var1=\"str1\"\n//str1=msg.payload.output.generic[j].title;\n//for(var j=0;j<msg.payload.generic.length;j++)\n//{\n  //  str1=str1+msg.payload.generic[j].text[j]+\"\"\nif(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse if(msg.payload.output.generic[0].response_type==\"option\")\n{\n    Var=\"str\";\n    str=msg.payload.output.generic[0].title;\n    for(var i=0;i<msg.payload.output.generic[0].options.length;i++)\n    {\n        str=str+msg.payload.output.generic[0].options[i].label+\"     \"\n    }\n    msg.payload=str;\n}\nelse{\n    msg.url=\"https://www.littlenap.in/sites/all/themes/ibees/images/projects/project-img05.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\n\n//msg.payload=str1;\n//}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":280,"wires":[["fe92da11.13a318","b40162d.a474aa","74698104.02062","6ec8a27e.ab659c"]]},{"id":"fe92da11.13a318","type":"debug","z":"e1c06fb6.b3163","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":420,"wires":[]},{"id":"b40162d.a474aa","type":"ui_template","z":"e1c06fb6.b3163","group":"78ed009c.eb609","name":"","order":5,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":200,"wires":[[]]},{"id":"74698104.02062","type":"ui_audio","z":"e1c06fb6.b3163","name":"","group":"78ed009c.eb609","voice":"Microsoft Neerja Online (Natural) - English (India)","always":"","x":780,"y":340,"wires":[]},{"id":"25ac1cb5.e5bc04","type":"ui_text","z":"e1c06fb6.b3163","group":"78ed009c.eb609","order":2,"width":0,"height":0,"name":"","label":"Your Input","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":520,"wires":[]},{"id":"6ec8a27e.ab659c","type":"ui_text","z":"e1c06fb6.b3163","group":"78ed009c.eb609","order":2,"width":0,"height":0,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-left","x":860,"y":420,"wires":[]},{"id":"78ed009c.eb609","type":"ui_group","z":"","name":"MovieTicketBot","tab":"c6c266c0.17c7c8","order":1,"disp":true,"width":"24","collapse":false},{"id":"c6c266c0.17c7c8","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]